<h4><%= @post.title %></h4>
<p><%= @post.body %></p>
<p><%= @post.creator.email %></p>
<% if user_signed_in? %>
  <div class='text-end'>
    <%= managing_likes(@post) %>
    <%= @post.likes_count %>
  </div>
  <p><%= t('comment') %>:</p>
  <%= render 'comments/form', parent: nil %>
<% else %>
  <p class='text-end'><%= t('.likes') %>: <%= @post.likes_count %><p>
<% end %>

<%= render partial: 'comments/comment', collection: @comments.roots unless @comments.nil? %>


<script>
  var butt = document.getElementsByClassName('collapsible')
  var i

  for(i = 0; i < butt.length; i++ ) {
    butt[i].addEventListener('click', function() {
      let field = this.nextElementSibling
      if (field.style.display == 'block' ) {
        field.style.display = 'none'
      } else {
        field.style.display = 'block'
      }
    })
  }
</script>
