<div class='text-center'>
  <h4><%= @post.title %></h4>
  <p><%= @post.body %></p>
  <p><%= @post.creator %></p>
  <% if user_signed_in? %>
    <p><%= managing_likes(@post) %></p>
    <%= render 'comments/form',  parent: nil   %>
  <% end %>
  <p><%= @post.likes.count %> Likes</p>
  <br>
</div>

<%= render partial: 'comments/comment', collection: @comments.roots %>


<script>
  var butt = document.getElementsByClassName('collapsible')
  var i

  for(i = 0; i < butt.length; i++ ) {
    butt[i].addEventListener('click', function() {
      let field = this.nextElementSibling
      if (field.style.display == 'block' ) {
        field.style.display = 'none'
      } else {
        field.style.display = 'block'
      }
    })
  }
</script>

